body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img{
    height:350px;
    
}

h3, h5{
   text-align:center;
}

#deletePhoto{
    text-align:center;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

#detailsBlurb{
    font-style:italic;  
    text-align:center;
}

#outfitIndexGrid{
   max-height:150px;
   border-image-repeat:stretch;
}

form-horizontal{
    background-image:url(wallpaper.jpg);
    background-repeat:repeat;
}

#outfitDetailsGrid{
    text-align:center;
    max-height:900px;
}

dl{
    margin-bottom:40px;
    margin-top:40px;
}
