@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyCloset</h1>
    <p class="lead">View your closet. Add wardrobe items. Create outfits. MyCloset lets you manage your wardrobe in a fun new way.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started by filling your closet</h2>
        <p>
            Add your clothes and shoes to each section of MyCloset. You'll be able to add a description, season, occasion, and a photo for each item.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Outfit.jpg"/>
    </div>
    <div class="col-md-4">
        <h2>Create & Save Outfits</h2>
        <p>Once your closet is full, you can create unique outfits by selecting a top, bottom, shoes, and accessories. You can save your favorites to wear again and again. It's that easy.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>