@model WardrobeMVC.Models.Accessory

@{
    ViewBag.Title = "Delete";
}

<h2>Remove</h2>

<h3>Are you sure you want to remove this from your closet?</h3>
<div>
    <hr />

    <div class="container">
        <div class="row" id="deletePhoto">
            <img src="@Url.Content(Model.AccessoryPhoto)" />
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
